USE [ITechAppData]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/21/2022 8:38:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [ImageUrl]) VALUES (1, N'Phones', N'This category sells phones', N'img/PhonesCategory.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [Description], [ImageUrl]) VALUES (2, N'Laptops', N'This category sells Laptops', N'img/LaptopsCategory.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
