USE [ITechAppData]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 5/21/2022 8:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
	[ITSIN] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Id], [Title], [Content], [ProductId], [ITSIN]) VALUES (501, N'Network', N'HSPA 21.1/5.76 Mbps, LTE Cat4 150/50 Mbps', 502, N'IT-CSV-2')
INSERT [dbo].[ProductDetails] ([Id], [Title], [Content], [ProductId], [ITSIN]) VALUES (502, N'Display', N'6.6 inches, 105.2 cm2 (~83.2% screen-to-Body ratio)', 502, N'IT-CSV-2')
INSERT [dbo].[ProductDetails] ([Id], [Title], [Content], [ProductId], [ITSIN]) VALUES (503, N'Platform', N'Android 10 (Go edition)', 502, N'IT-CSV-2')
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
ALTER TABLE [dbo].[ProductDetails] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products_ProductId]
GO
