USE [ITechAppData]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/21/2022 8:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[SellerId] [nvarchar](450) NULL,
	[Brand] [nvarchar](max) NULL,
	[DiscountPercentage] [decimal](18, 2) NOT NULL,
	[LaunchTime] [datetime2](7) NOT NULL,
	[PriceAfterDiscount] [decimal](18, 2) NOT NULL,
	[ITSIN] [nvarchar](max) NULL,
	[Activated] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Title], [ShortDescription], [Price], [Stock], [CategoryId], [SellerId], [Brand], [DiscountPercentage], [LaunchTime], [PriceAfterDiscount], [ITSIN], [Activated]) VALUES (501, N'realme Realme C11(2021)', N'Realme C11(2021)- 6.52-inch 32GB/2GB Dual SIM 4G Mobile Phone - Iron Grey', CAST(1985.00 AS Decimal(18, 2)), 10, 1, N'5b821f3a-bfc1-4dab-b7b3-877c6abe647c', N'realme', CAST(0.00 AS Decimal(18, 2)), CAST(N'2022-01-05T15:00:56.3797046' AS DateTime2), CAST(1985.00 AS Decimal(18, 2)), N'IT-CSV-1', 1)
INSERT [dbo].[Products] ([Id], [Title], [ShortDescription], [Price], [Stock], [CategoryId], [SellerId], [Brand], [DiscountPercentage], [LaunchTime], [PriceAfterDiscount], [ITSIN], [Activated]) VALUES (502, N'Infinix X657B Smart 5', N'6.6-inch 64GB/3GB Dual SIM 4G Mobile Phone - Midnight Black', CAST(2055.00 AS Decimal(18, 2)), 10, 1, N'5b821f3a-bfc1-4dab-b7b3-877c6abe647c', N'Infinix', CAST(0.00 AS Decimal(18, 2)), CAST(N'2022-01-05T15:00:56.3797046' AS DateTime2), CAST(2055.00 AS Decimal(18, 2)), N'IT-CSV-2', 1)
INSERT [dbo].[Products] ([Id], [Title], [ShortDescription], [Price], [Stock], [CategoryId], [SellerId], [Brand], [DiscountPercentage], [LaunchTime], [PriceAfterDiscount], [ITSIN], [Activated]) VALUES (503, N'Samsung Galaxy A12', N'6.5-inch 64GB/4GB Dual SIM Mobile Phone - Blacl', CAST(2760.00 AS Decimal(18, 2)), 10, 1, N'5b821f3a-bfc1-4dab-b7b3-877c6abe647c', N'Samsung', CAST(0.00 AS Decimal(18, 2)), CAST(N'2022-01-05T15:00:56.3797046' AS DateTime2), CAST(2760.00 AS Decimal(18, 2)), N'IT-CSV-3', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [LaunchTime]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [PriceAfterDiscount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Activated]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sellers_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Sellers] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sellers_SellerId]
GO
