USE [ITechAppData]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 5/21/2022 8:27:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageNumber] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ImageNumber], [ImageUrl], [ProductId]) VALUES (501, 1, N'img/csvImages/IT-CSV-1-img-1.jpg', 501)
INSERT [dbo].[ProductImages] ([Id], [ImageNumber], [ImageUrl], [ProductId]) VALUES (502, 2, N'img/csvImages/IT-CSV-1-img-2.jpg', 501)
INSERT [dbo].[ProductImages] ([Id], [ImageNumber], [ImageUrl], [ProductId]) VALUES (503, 3, N'img/csvImages/IT-CSV-1-img-3.jpg', 501)
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
